<app-emp-navbar></app-emp-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Employee Code</th>
                    <th scope="col">Login Security Name</th>
                    <th scope="col">Login Time</th>
                    <th scope="col">Logout Time</th>
                    <th scope="col">Logout Security Name</th>


                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of dataD">
                    <td>{{i.id}}</td>
                    <td>{{i.emp_id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.emp_code}}</td>
                    <td>{{i.loginsec_name}}</td>
                    <td>{{i.login_time}}</td>
                    <td>{{i.logout_time}}</td>
                    <td>{{i.logoutsec_name}}</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>