<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Apply Date</th>
                    <th scope="col">Leave Date</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Approve</th>
                    <th scope="col">Reject</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of dataD">
                   
                    <td>{{i.name}}</td>
                    <td>{{i.type}}</td>
                    <td>{{i.apply_date}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.duration}}</td>
                    <td>{{i.reason}}</td>

                    <td><button class="btn btn-success" (click)="approveLeave(i.id)">APPROVED</button></td>
                    <td><button class="btn btn-danger" (click)="rejectLeave(i.id)">REJECTED</button></td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>